#
# * Galera-related settings
#
# See the examples of server wsrep.cnf files in /usr/share/mysql
# and read more at https://mariadb.com/kb/en/galera-cluster/

[galera]
# Mandatory settings
wsrep_on = ON
wsrep_provider = /usr/lib/libgalera_smm.so

wsrep_cluster_address = gcomm://$NODES
binlog_format = row
default_storage_engine = InnoDB
innodb_autoinc_lock_mode = 2

# Allow server to accept connections on all interfaces.
bind-address = 0.0.0.0

# Optional settings
#wsrep_slave_threads = 1
#innodb_flush_log_at_trx_commit = 0

# Galera Node Configuration
wsrep_node_address = $NODE_IP
wsrep_node_name = $NODE_NAME
wsrep_sst_method = rsync

